
.alert {
	width: 60%;
	background-color: #EFD054;
	color: #302D41;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}

.error {
	width: 60%;
	background-color: #D84464;
	color: #302D41;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}

body {
	background-color: #282636;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	border: 0;
	padding: 0;
	margin: 0;
	font-family: Noto Sans, Consolas;
	overflow-x: hidden;
}

.content {
	flex-basis: 60%;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	align-items: left;
	min-height: 100%;
	background-color: #302D41;
	color: #98C7BE;
	overflow: hidden;
	min-width: 500px;
	font-weight: 100;
}

.content p {
	width: 85%;
	text-align: justify;
}

.content ul {
	width: 80%;
}

.content hr {
	width: 50%;
	color: #7f7c97;;
	border: 1px solid #7f7c97;
	text-align: center;
}

.content hr:after {
	content:".__. | ._ | _. | _._. | ._ | _._ | . | ...";
	position: relative;
	top: -.5em;

}

.content a {
	color: #3CA18D;
}

.content a:link {
	color: #3CA18D;
}

.content a:visited {
	color: #3CA18D;
}

.content a:hover {
	background-color: #403C55;
	text-decoration: none;
	color: #BBF2E7;
}

.tab {
	margin-right: 3em;
}

.spoiler {
	opacity: 0;
	margin-top: 100px;
	margin-bottom: 100px;
}

.content code {
	color: #E9566B;
	background-color: #47314A;
}

.footer {
	width: 100%;
	height: 200px;
}

.spoiler:hover {
	opacity: 100;
}

.highlighttable {
	margin-top: 20px;
	margin-bottom: 20px;
}

.highlighttable,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
ul,
ol,
.alert,
.error {
	align-self: center;
}

img {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	align-items: left;
}

.menu a {
	padding: 10px;
	margin-bottom: 2px;
	background-color: #302D41;
	color: #BBF2E7;
	text-decoration: none;
}

.menu a:link {
	color: #BBF2E7;
	text-decoration: none;
}

.menu a:visited {
	color: #BBF2E7;
	text-decoration: none;
}

.menu a:hover {
	background-color: #403C55;
	color: #BBF2E7;
	text-decoration: none;
}

.menu a:active {
	color: #BBF2E7;
	text-decoration: none;
}

