
.alert {
	width: 60%;
	background-color: #EFD054;
	color: #57495E;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom:10px;
}

.error {
	width: 60%;
	background-color: #D84464;
	color: #57495E;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom:10px;
}

body {
	background-color: #282636;
	display: flex;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	border: 0;
	padding: 0;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1280px;
	min-height: 100%;
	background-color: #57495E;
	color: #BBF2E7;
	font-family: Consolas;
}

.content > p {
	width: 85%;
	text-align: justify;
}